/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
  
/* header */
.header{
    background-color: #2D25A0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
}
.menu-bar{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.header ul{
    margin: 10px 0px;
    padding: 10px 0px;
    list-style: none;
    overflow: hidden;
    background-color: #2D25A0;
}
.header li a{
    display: block;
    padding: 6px 0;
    text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover{
    color: #E02C6D;
}
.header .login{
    display: block;
    float: right;
    font-size: 18px;
    margin: 26px 0;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #E02C6D;
}
a{
    color: #fff;
}
a .fas{
    margin-right: 10px;
}

/* menu */
.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon{
    cursor: pointer;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.header .menu-icon .navicon{
    background-color: #fff;
    display: block;
    height: 3px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after{
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.header .menu-icon .navicon:before{
    top: 5px;
}
.header .menu-icon .navicon:after{
    top: -5px;
}

/* menu btn */
.header .menu-btn{
    display: none;
}
.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon{
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before{
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after{
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after{
    top: 0;
}
@media (min-width: 768px) {
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: left;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
}

/* banner part */
.banner-area{
    background-color: #2D25A0;
    width: 100%;
    height: 600px;
    padding-top: 40px;
    margin-bottom: 60px;
}
.banner-area:hover .banner-right-part img{
   transform: rotate(15deg);
   transition: transform 2s ease-in-out;
}
.banner-left-part{
    padding-top: 50px;
    width: 40%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
}
.banner-right-part{
    margin-top: 40px;
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
}
.anchor-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    font-weight: 400;
    color: white;
	text-align: center;
}
.anchor-button .fas{
    margin-left: 10px;
}
.banner-right-part img{
    width: 90%;
    padding-top: 74px;
    padding-bottom: 64px;
}

/* players part */
.players-area{
    margin-top: 70px;
}
.players-paragraph{
    text-align: center;
    margin: 0px auto;
    width: 40%;
    margin-bottom: 5%;  
}
.d-flex-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 30px;
    width: 80%;
    margin: 0 auto;
}
.players-area h2{
    font-size: 30px;
	color: #4a4a4a;
}
.players-area h2{
    font-size: 30px;
}
.players-item-one{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-left: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
.players-item-two{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
.players-item-three{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-left: 3%;
    margin-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
#players-one img{
    width: 100%;
	margin-top: 8px;
}
#players-two img{
    width: 100%;
	margin-top: 8px;
}
#players-three img{
    width: 100%;
	margin-top: 8px;
}

/* highlight area one */
.highlight-area{
    padding-top: 10px;
    margin-bottom: 200px;
}
.highlight{
    width: 96%;
    margin: 0 auto;
}
.highlight-left-part{
    padding-top: 80px;
    width: 40%;
    float: left;
    margin-left: 10%;
}
.highlight-right-part{
    margin-top: 20px;
    width: 40%;
    float: left;
    padding-left: 2%;
}
.highlight-left-part h2{
    font-size: 40px;
    font-weight: 900;
	line-height: 50px;
}
.highlight-paragraph{
    color: dimgray;
    margin-bottom: 40px;
	line-height: 26px;
}
.highlight-right-part img{
    width: 100%;
    padding-top: 36px;
}







/* ------------------------------
 Resopnsive for Mobile and Tablet 
-------------------------------- */

/* media query for mobile */
@media screen and (max-width: 768px) {
    .header{
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .header .login{
        margin-top: 5px;  
    }
    .banner-area{
        background-color: #2D25A0;
        width: 100%;
        height: 1200px;
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .banner-left-part{
        padding-top: 46px;
        width: 100%;
    }
    .banner-right-part{
        margin-top: 20px;
        width:100%;
    }
    .d-flex-players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 30px;
        width: 80%;
        margin: 0 auto;
    }
    .highlight-left-part{
        padding-top: 80px;
        width: 86%;
    }
    .highlight-right-part{
        margin-top: 20px;
        width: 86%;
        margin-left: 8%;
    }
   
}
  
/* media query for tablet */
@media screen and (min-width: 769px ) and (max-width: 1024px) {
    .banner-area{
        background-color: #2D25A0;
        width: 100%;
        height: 1400px;
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .banner-left-part{
        padding-top: 46px;
        width: 100%;
    }
    .banner-right-part{
        margin-top: 20px;
        width:100%;
    }
    .d-flex-players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 30px;
        width: 80%;
        margin: 0 auto;
    }
    .highlight-left-part{
        padding-top: 80px;
        width: 86%;
    }
    .highlight-right-part{
        margin-top: 20px;
        width: 86%;
        margin-left: 8%;
    }
   
}